<?xml version="1.0"?>
<launch>
  <!-- Warthog configuration to view. See moose_description for details. -->
  <arg name="config" default="base"/>

  <include file="$(find moose_description)/launch/description.launch">
    <arg name="config" value="$(arg config)" />
  </include>

  <param name="use_gui" value="true"/>
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find moose_viz)/rviz/model.rviz" />
</launch>
